<div class="overlay" [style.display]="isDisplayOverlay()" (click)="startGame()">
  <h1>Welcome To 21 Card Trick</h1>
  <p>Pick a card on your head from the cards on the piles, after that choose the pile that contains your card three times and I'll tell whats your card.</p>
  <br>
  <br>
  <p style="font-style: italic;">Click anywhere on the screen to start.</p>
</div>

<div class="button-container">
  <button type="button" class="button" [hidden]="displayOverlay" [disabled]="disableButton" [style.background-color]="getButtonColor()" (click)="startGame()">{{getButtonText()}}</button>
</div>

<div *ngIf="isGameStarted && gameState > 0" class="flex-container-1 margin-top-5-percent">
  <div class="flex-container-2">
    <div class="flex-container-3" (click)="selectRow(1)">
      <div *ngFor="let card of firstRow">
        <img src="{{card.image}}" class="card">
      </div>
    </div>
  </div>

  <div class="flex-container-2">
    <div class="flex-container-3" (click)="selectRow(2)">
      <div *ngFor="let card of secondRow">
        <img src="{{card.image}}" class="card">
      </div>
    </div>
  </div>

  <div class="flex-container-2">
    <div class="flex-container-3" (click)="selectRow(3)">
      <div *ngFor="let card of thirdRow">
        <img src="{{card.image}}" class="card">
      </div>
    </div>
  </div>
</div>

<div id="gameResult" *ngIf="isGameStarted && gameState === 0">
  <div class="margin-top-5-percent">
    <div class="result-item">Is this your card?</div>
    <div class="result-item">
      <img src="{{secondRow[3].image}}">
    </div>
  </div>
</div>
